language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install: 
  - "pip install unittest2"
  - "python setup.py install"
# command to run tests
script: python tests.py
